.father {
    width: 450px;
    height: 350px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid black;
    margin-top: 60px;
    padding: 20px;
}

.info{
    margin-bottom: 10px;
}

.info h1{
    width: 200px;
    height: 32px;
    margin: 0;
}

.info p{
    margin: 5px;
    font-size: 10px;
}

.father p{
    margin: 10px 30px;
    font-size: 14px;
}

.tag{
    margin: 15px 30px;
}

span{
        margin: 5px;
        font-size: 10px;
}

.style1{
    background-color: beige;
    border-color: black;
    border-radius: 5px;

}
.style2{
    background-color: green;
    border-color: black;
    border-radius: 5px;
}
.style3{
    background-color: yellowgreen;
    border-color: black;
    border-radius: 5px;
}