/* 全局样式背景全灰 */
body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 50px 0;
}

/* 容器样式 固定margin居中 */
.container {
    width: 700px;
    margin: 0 auto;
}

/*公共类名*/
.box {    
    width: 700px;
    padding: 25px;
    border: 2px solid #ddd;
    background-color: #fff;
    margin: 0;
    border-bottom: none;
}


/* 最后一个盒子要保留底部边框 */
.abilitybox {
    border-bottom: 2px solid #ddd;
}

.name {
    margin: 0 0 10px 0;
    color: #333;     /*加黑、加粗*/
    font-size: 28px;
}

.enname {
    margin: 0 0 5px 0;
    color: #666;
    font-size: 16px;
}

.tel, .email, .show, .ability {
    margin: 0;
    color: #444;
    font-size: 16px;
}

.show {
    padding: 5px 0;
}

.ability {
    padding: 5px 0;
}

.tag {
    display: inline-block;
    padding: 4px 10px;
    margin: 2px;
    border-radius: 4px;
    font-size: 14px;
    color: #fff; /* 白字彩底 */
}

.tag-green {
    background-color: #4CAF50; 
}

.tag-blue {
    background-color: #2196F3; 
}

.tag-orange {
    background-color: #FF9800; 
}

.tag-purple {
    background-color: #9C27B0; 
}