/* 全局样式背景全灰 */
body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 50px 0;
}

/* 容器样式 固定margin居中 */
.container {
    width: 700px;
    margin: 0 200px;
}

/* 所有盒子 */
.namebox, .contactbox, .emailbox, .showbox, .abilitybox {
    width: 700px;
    padding: 25px;
    border: 2px solid #ddd;
    background-color: #fff;
    margin: 0;
    border-bottom: none;
}

/* 最后一个盒子要保留底部边框 */
.abilitybox {
    border-bottom: 2px solid #ddd;
}

.name {
    margin: 0 0 10px 0;
    color: #333;     /*加黑、加粗*/
    font-size: 28px;
}

.enname {
    margin: 0 0 5px 0;
    color: #666;
    font-size: 16px;
}

.tel, .email, .show, .ability {
    margin: 0;
    color: #444;
    font-size: 16px;
}

.show {
    padding: 5px 0;
}

.ability {
    padding: 5px 0;
}