.nav{
    width: 370px;
    border-style: solid;
    border-color: grey;
    border-width: 1px 1px 0px 1px;
    
}
.form{
    padding-left: 25px;
    border-bottom:solid grey 1px;
}
.tag1{
    background-color: #FFCCCC;
    border: #FF0000 1px solid;
    color: #FF0000;
    padding: 2px;
    margin-right: 5px;
}
.tag2{
    background-color: #FFF2CC;
    border: #FFA500 1px solid;
    color: #FFA500;
    padding: 2px;
    margin-right: 5px;
}
.tag3{
    background-color: #E0FFFF;
    border: #00ced1 1px solid;
    color: #00ced1;
    padding: 2px;
} 